/* ====  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");


p{
    text-align: justify !important;
}


/* Desktop View */
@media (min-width: 992px) {
    .sticky-col {
      /* position: -webkit-sticky; */
      position: sticky;
      top: 120px;
    }
  }
  
  /* Mobile View */
  @media (max-width: 991px) {
    .sticky-col {
      position: static;
    }
  }