/* ====  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");


p{
    text-align: justify !important;
}


/* Desktop View */
@media (min-width: 992px) {
    .sticky-col {
      /* position: -webkit-sticky; */
      position: sticky;
      top: 120px;
    }
  }
  
  /* Mobile View */
  @media (max-width: 991px) {
    .sticky-col {
      position: static;
    }
  }


  .team-img {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 100px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .text{
    text-align: center;
    padding:10px 0px;
  }

  .text h4{
    color: #096bd8;
    font-size: 22px;
  }

  .text span{
    font-size: 1rem;
  }

  .team-img img{
    height: auto;
    /* max-width: 100%; */
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .privacy{
    text-align: justify !important;
  }
  .privacy ul li {
    font-weight: 400 !important;
  }

  .career_detail p {
    font-family: 'cerebri_sansbold' !important;
  }
  .career_detail ul li {
    text-align: justify !important;
    /* font-family: 'cerebri_sanssemibold' !important; */
  }

  .terms{
    text-align: justify !important;
  }
  .terms p {
    margin-bottom: 0px !important;
    font-weight: 100 !important;
  }
  .terms ul li {
    font-weight: 400 !important;
  }

  .d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap as needed */
}
.contact-info-column {
    display: flex;
    flex-direction: column;
}
.contact-info-column .contact {
    flex: 1;
}